<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="MongoWorkBench.category1"
            name="MongoWorkBench">
      </category>
      <view
            category="MongoWorkBench.category1"
            class="net.jumperz.app.MMonjaDB.eclipse.view.MDBTree"
            icon="src/net/jumperz/app/MMonjaDB/eclipse/resources/database_gear.png"
            id="net.jumperz.app.MMonjaDB.eclipse.view.MDBTree"
            name="DB Tree"
            restorable="true">
      </view>
      <view
            category="MongoWorkBench.category1"
            class="net.jumperz.app.MMonjaDB.eclipse.view.MActionView"
            icon="src/net/jumperz/app/MMonjaDB/eclipse/resources/cog_start.png"
            id="net.jumperz.app.MMonjaDB.eclipse.view.MActionView"
            name="Cmd Console"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            category="MongoWorkBench.category1"
            class="net.jumperz.app.MMonjaDB.eclipse.view.MHistoryView"
            icon="src/net/jumperz/app/MMonjaDB/eclipse/resources/cog_start.png"
            id="net.jumperz.app.MMonjaDB.eclipse.view.MHistoryView"
            name="Cmd History"
            restorable="true">
      </view>
      <view
            category="MongoWorkBench.category1"
            class="net.jumperz.app.MMonjaDB.eclipse.view.MDBList"
            icon="src/net/jumperz/app/MMonjaDB/eclipse/resources/database.png"
            id="net.jumperz.app.MMonjaDB.eclipse.view.MDBList"
            name="DB List"
            restorable="true">
      </view>
      <view
            category="MongoWorkBench.category1"
            class="net.jumperz.app.MMonjaDB.eclipse.view.MCollectionList"
            icon="src/net/jumperz/app/MMonjaDB/eclipse/resources/table_multiple.png"
            id="net.jumperz.app.MMonjaDB.eclipse.view.MCollectionList"
            name="Collection List"
            restorable="true">
      </view>
      <view
            category="MongoWorkBench.category1"
            class="net.jumperz.app.MMonjaDB.eclipse.view.MDocumentView"
            icon="src/net/jumperz/app/MMonjaDB/eclipse/resources/table.png"
            id="net.jumperz.app.MMonjaDB.eclipse.view.MDocumentView"
            name="Query Output"
            restorable="true">
      </view>
      <view
            category="MongoWorkBench.category1"
            class="net.jumperz.app.MMonjaDB.eclipse.view.MDocumentEditor"
            icon="src/net/jumperz/app/MMonjaDB/eclipse/resources/table_edit.png"
            id="net.jumperz.app.MMonjaDB.eclipse.view.MDocumentEditor"
            name="Document Editor"
            restorable="true">
      </view>
      <view
            category="MongoWorkBench.category1"
            class="net.jumperz.app.MMonjaDB.eclipse.view.MJavaScriptView"
            icon="src/net/jumperz/app/MMonjaDB/eclipse/resources/database_go.png"
            id="net.jumperz.app.MMonjaDB.eclipse.view.MJavaScriptView"
            name="JavaScript"
            restorable="true">
      </view>
      <view
            category="MongoWorkBench.category1"
            class="net.jumperz.app.MMonjaDB.eclipse.view.MJsonView"
            icon="src/net/jumperz/app/MMonjaDB/eclipse/resources/table_edit.png"
            id="net.jumperz.app.MMonjaDB.eclipse.view.MJsonView"
            name="JSON View"
            restorable="true">
      </view>
     <view
            category="MongoWorkBench.category1"
            class="net.jumperz.app.MMonjaDB.eclipse.view.MEditor"
            icon="src/net/jumperz/app/MMonjaDB/eclipse/resources/table_edit.png"
            id="net.jumperz.app.MMonjaDB.eclipse.view.MEditor"
            name="Editor"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.jumperz.app.MMonjaDB.eclipse.pref.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.jumperz.app.MMonjaDB.eclipse.pref.MPrefPage"
            id="net.jumperz.app.MMonjaDB.eclipse.pref.MPrefPage"
            name="MongoWorkBench">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="MongoWorkBench.TopMenu"
            name="MongoWorkBench">
      </category>
      <command
            categoryId="MongoWorkBench.TopMenu"
            defaultHandler="net.jumperz.app.MMonjaDB.eclipse.handler.MActivationHandler"
            id="MongoWorkBench.activateCommand"
            name="Open MongoWorkBench Perspective">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="MongoWorkBench">
            <command
                  commandId="MongoWorkBench.activateCommand"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.jumperz.app.MMonjaDB.eclipse.MPerspectiveFactory1"
            icon="src/net/jumperz/app/MMonjaDB/eclipse/resources/database_gear.png"
            id="net.jumperz.app.MMonjaDB.eclipse.MPerspectiveFactory1"
            name="MongoWorkbench">
      </perspective>
   </extension>

</plugin>
